{{#partial "content"}}
<h1>User details</h1>
    <pre>  name      position       role</pre>
{{#if allUsers}}
    {{#each allUsers}}
    <pre>{{user_name}}    {{user_position}}  {{user_role}}  <button><a href="/">delete</a></button> </pre>
{{/each}}
{{else}}
    <p>No user, please visit the <a href="/">home page</a>.</p>
{{/if}}
{{/partial}}
{{> layout.hbs}}