{{#partial "content"}}
    <div class="row">
        <div class="col-sm-4">
            <nav style="text-align:center"><a href="/department/new">Departments</a></nav>
        </div>
        <div class="col-sm-4">
            <nav style="text-align:center"><a href="/user/new">Employees</a></nav>
        </div>
        <div class="col-sm-4">
            <nav style="text-align:center"><a href="/news/new">News</a></nav>
        </div>
    </div>
    <hr>
    <p id="para">
       <strong> Welcome to organisation news<br>
        The platform that update you <br>
        on whatever going on at your work.</strong>
    </p>
{{/partial}}
{{> layout.hbs}}