{{#partial "content"}}
    <body>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-sm-4" id="center">
                <h4><a href="/">Home</a></h4>
                <h1>Department details</h1>
                {{#if users}}
                    <h5> Name of the employee:{{users.user_name}}</h5>
                    <h5>position: {{users.user_position}}</h5>
                    <h5>description :{{users.user_role}}</h5>
                {{else}}
                    <p>No user, please visit the <a href="/">home page</a>.</p>
                {{/if}}
            </div>
        </div>
    </div>
    </body>
{{/partial}}
{{> layout.hbs}}